:root {
    --main-dk: #242424;
    --main-txt-color: #ffffffde;
}

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--main-txt-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
}

main {
    background-color: var(--main-dk);
    height: 100%;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: left;
}

.modal-content {
    background-color: #242424eb;
    padding: 1.25rem;
    border-radius: 5px;
    width: 90%;
}

.modal-content button {
    display: block;
    margin: 0 auto;
}

/* Main Content */
h1 {
    margin: 2rem 0;
    letter-spacing: 1.8px;
    font-weight: 700;
}

.open-modal-btn {
    font-size: 1.25rem;
}

/* Visualizer Styles */
.visualizer {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 3rem auto;
}

.visualizer-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    border: 0.0938rem solid var(--main-txt-color);

    font-size: 2.5rem;
    transition: box-shadow 300ms;
}

.visualizer-text {
    z-index: 1;
}

.visualizer-circle:hover:not(.active) {
    box-shadow: 0 0 35px 6px var(--main-txt-color),
        inset 0 0 14px 0px var(--main-txt-color);
}

.visualizer-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    /* background-color: violet; */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
}

@keyframes expand {
    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes contract {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 0;
        height: 0;
    }
}

@keyframes colorShiftExpand {
    from {
        background-color: #add8e69b;
        box-shadow: 0 0 15px 10px #add8e69b;
    }
    to {
        background-color: #24c6fcdf;
        box-shadow: 0 0 35px 6px #24c6fcc0;
    }
}

@keyframes colorShiftContract {
    from {
        background-color: #24c6fcdf;
        box-shadow: 0 0 35px 6px #24c6fcc0;
    }
    to {
        background-color: #add8e69b;
        box-shadow: 0 0 15px 10px #add8e69b;
    }
}

.visualizer-circle.inhale::before {
    animation: expand 4s, colorShiftExpand 4s forwards;
    animation-timing-function: ease-in;
}

.visualizer-circle.hold::before {
    width: 100%;
    height: 100%;
    background-color: #24c6fcdf;
    box-shadow: 0 0 35px 6px #24c6fcc0;
}

.visualizer-circle.exhale::before {
    animation: contract 8s, colorShiftContract 8s forwards;
    animation-timing-function: ease-in-out;
}

/* Counter and Stop Button */
.counter-button__container {
    opacity: 1;
    transition: opacity 300ms ease, visibility 0.5s;
}

.counter {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.counter span {
    display: block;
}

.stop-btn {
    font-family: inherit;
    font-size: 1.5rem;
}
/* Utility Styles */
.btn {
    font-family: inherit;
    padding: 4px 8px;
    font-weight: 700;
}

.hidden {
    opacity: 0;
}

.model-open {
    filter: blur(0.25rem);
}

footer {
    margin-top: auto;
    margin-bottom: 1rem;
}

.desktop-msg {
    display: none;
}

.footer-icon {
    color: var(--main-txt-color);
}

.footer-icon:visited {
    color: var(--main-txt-color);
}

@media screen and (min-width: 50rem) {
    .desktop-msg {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        display: block;
    }
}
